<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<button id="save">Load Image</button>
<div id="loading"></div>
<img id="target" src="" />
</body>

<script>
$('#save').click(function () {
    // add loading image to div
    $('#loading').html('<img src="http://preloaders.net/preloaders/287/Filling%20broken%20ring.gif"> loading...');

    // run ajax request
    $.ajax({
        type: "GET",
        dataType: "image/png",
        url: "http://127.0.0.1:8080/layver/image/",
        success: function (img) {
            alert(111);
            setTimeout(function () {
                $("#target").attr("src","data:image/png;base64," + d);
            }, 3000);
        }
    });
});
 </script>
</html>